<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--短信发送方式,db:数据库;zsms,使用zsms类发送,-->
    <add key="smsSendWay_zutil" value="zsms"/>
    
    
    <add key="dbType_smsdb" value="sqlserver"/>
    <add key="connStr_smsdb" value="user id=sa;password=YouoTech2017!?;initial catalog=smsdb;Server=139.129.27.87;"/>

  </appSettings>
</configuration>